*{
    margin: 0;
    padding: 0;

}

/* color */
:root {
    --color-chocolate: #D2691E;
    --color-bronze: #CD7F32;
    --color-peru: #CD853F;
    --color-tan: #D2B48C;
    --color-Deer_brown: #E6BF83;
    
}
body{
font-family: 'Rowdies', cursive;
}


a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}


.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.navbar__logo{
    font-size: 30px;
}

.navbar__menu{
    display: flex;
    
}

.navbar__menu li {
    padding: 8 12px;
    margin: 0 6px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    
}

.navbar__menu li::after{
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background-color: var(--color-peru);
    transition: .5s;
}

.navbar__menu li:hover::after{
    width: 100%;
}

.search{
    height: 24px;
    background-color: yellow;
    position: relative;
    left: 34px;
}

.search::before{
    content: "";
    position: absolute;
    top: 30px;
    width: 100%;
    height: 4px;
    background-color: black;
}

.navbar i {
    font-size: 24px;
}


.search input{
    border: none;
    outline: none;
    font-size: 24px;
}

#home {
    width: 100%;
    height: 700px;
    text-align: center;
    /* background: url(/img/home_backg.jpeg) center/cover no-repeat; */
    background-size: 85%;
    background-color: var(--color-tan);
}

.home__container{
    position: absolute;
    top: 15%;
    align-items: center;
    width: 100%;
    height: 100%;
    float: left;
}

.home__slide {
    margin: 0 10px;
    padding: 0 10px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    
}
.home__slide img{
    width: 800px;
    height: 600px;
    
}


.section{
    margin: auto;
    padding: 40px;
    text-align: center;
}

.section__container{
    max-width: 1200px;
    margin: auto;
}

#cake{
    background: url(/img/cake_back_img.jpeg)center/cover no-repeat;
}

#cake h1{
    font-size: 42px;
    color: var(--color-chocolate);
}
.cake__menu{
    display: flex;
    margin: 32px 0;
}

.cake__explanation__img{
    width: 400px;
    height: 400px;
}

.cake__explanation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    font-size: 42px;
    color: white;
    
}

#bread{
    background: url(/img/sea\ food\ menu.png);
}

.bread__menu{
    display: flex;
    margin: 32px 0;
}

.bread__explanation__img{
    width: 400px;
    height: 400px;
}

.bread__explanation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    font-size: 42px;
}

#coffee{

}

.coffee__menu{
    display: flex;
    margin: 32px 0;
}

.coffee__explanation__img{
    width: 400px;
    height: 400px;
}

.coffee__explanation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    font-size: 42px;
}


#contact{
    padding: 0;
    font-size: 32px;
}

#contact a{
    color: var(--color-Deer_brown);
}

.contact__rights{
    font-size: 12px;
    padding-top: 20px;
}

